.header {
  height: 55px;
  margin-bottom: 20px;
}

.header-flex {
  display: flex;
  height: 55px;
  margin-bottom: 20px;
}

.image-header {
  display: block;
  align-self: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
